<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glowing - Reveal The Beauty of Skin</title>

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/product.css" />
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/collections.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;800&display=swap" rel="stylesheet">

  <!-- 
    - preload images
  -->
  <link rel="preload" as="image" href="/assets/images/logo.png">
  <link rel="preload" as="image" href="/assets/images/hero-banner-1.jpg">
  <link rel="preload" as="image" href="/assets/images/hero-banner-2.jpg">
  <link rel="preload" as="image" href="/assets/images/hero-banner-3.jpg">

</head>

<body id="top">

  <!-- 
    - #HEADER
  -->

  <%- include('partials/header') %>


    <div class="container2">
      <section class="main">
        <div class="default gallery">
          <div class="main-img">
            <% product.images.forEach((img, i)=> { %>
              <img src="<%= img %>" alt="product-img" class="<%= i === 0 ? 'active' : '' %>" />
              <% }) %>
          </div>
          <div class="thumb-list">
            <% product.thumbnails.forEach((thumb, i)=> { %>
              <div class="<%= i === 0 ? 'active' : '' %>">
                <img src="<%= thumb %>" alt="product-img" />
              </div>
              <% }) %>
          </div>
        </div>

        <div class="lightbox">
          <div class="gallery">
            <div class="main-img">
              <!-- icons -->
              <span class="icon-close">
                <svg width="14" height="15" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="m11.596.782 2.122 2.122L9.12 7.499l4.597 4.597-2.122 2.122L7 9.62l-4.595 4.597-2.122-2.122L4.878 7.5.282 2.904 2.404.782l4.595 4.596L11.596.782Z"
                    fill="#69707D" fill-rule="evenodd" />
                </svg>
              </span>
              <span class="icon-prev">
                <svg width="12" height="18" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11 1 3 9l8 8" stroke="#1D2026" stroke-width="3" fill="none" fill-rule="evenodd" />
                </svg>
              </span>
              <span class="icon-next">
                <svg width="13" height="18" xmlns="http://www.w3.org/2000/svg">
                  <path d="m2 1 8 8-8 8" stroke="#1D2026" stroke-width="3" fill="none" fill-rule="evenodd" />
                </svg>
              </span>

              <!-- main images -->
              <% product.images.forEach((img, i)=> { %>
                <img src="<%= img %>" alt="product-img" class="<%= i === 0 ? 'active' : '' %>" />
                <% }) %>
            </div>
            <div class="thumb-list">
              <% product.thumbnails.forEach((thumb, i)=> { %>
                <div class="<%= i === 0 ? 'active' : '' %>">
                  <img src="<%= thumb %>" alt="product-img" />
                </div>
                <% }) %>
            </div>
          </div>
        </div>

        <div class="content">
          <!-- <h3>
            <%= product.company || "SNEAKER COMPANY" %>
          </h3> -->
          <h2 class="product-name">
            <%= product.name %>
          </h2>
          <p class="product-desc">
            <%= product.description %>
          </p>

        <input type="hidden" id="selectedColor" name="selectedColor" value="<%= defaultColor?.name %>">
        <input type="hidden" id="selectedSize" name="selectedSize" value="<%= defaultSize %>">
        <input type="hidden" id="selectedSku" name="selectedSku" value="<%= defaultSku %>">

        <!-- Example: -->
        <div><strong>SKU:</strong> <span id="sku-display"><%= defaultSku %></span></div>

        <div class="color-div">
          <div class="ptitle">Please select color.</div>
          <div class="colors" id="color-options">
            <% 
              const colors = product.variations.map(v => ({
                name: v.colorName,
                hex: v.colorHex
              }));

              const uniqueColors = Array.from(
                new Map(colors.map(c => [c.name, c])).values()
              );

              uniqueColors.forEach(color => { 
            %>
              <div 
                class="color-swatch <%= color.name === defaultColor.name ? 'selected' : '' %>" 
                data-color="<%= color.name %>"
                style="background-color: <%= color.hex %>;"
              >
              </div>
            <% }) %>
          </div>
        </div>

        <div class="color-div">
          <div class="ptitle">Please select Size.</div>
          <div class="colors" id="size-options">
            <% 
              const sizeSet = new Set();
              product.variations.forEach(variation => {
                variation.sizeSkus.forEach(sku => {
                  sizeSet.add(sku.size);
                });
              });

              const sizes = Array.from(sizeSet);
              sizes.forEach(size => { 
            %>
              <div 
                class="size-btn <%= size === defaultSize ? 'selected' : '' %>" 
                data-size="<%= size %>"
              >
                <%= size %>
              </div>
            <% }) %>
          </div>
        </div>



          <div class="price-info">
            <div class="price">
              <span class="current-price">$<%= product.price.toFixed(2) %></span>
              <span class="discount">
                <%= product.discount %>%
              </span>
            </div>
            <div class="prev-price">$<%= product.oldPrice.toFixed(2) %>
            </div>
          </div>
          <div class="add-to-cart-container">
            <div class="counter">
              <button class="minus">
                <svg width="12" height="4" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink">
                  <defs>
                    <path
                      d="M11.357 3.332A.641.641 0 0 0 12 2.69V.643A.641.641 0 0 0 11.357 0H.643A.641.641 0 0 0 0 .643v2.046c0 .357.287.643.643.643h10.714Z"
                      id="a" />
                  </defs>
                  <use fill="#FF7E1B" fill-rule="nonzero" xlink:href="#a" />
                </svg>
              </button>
              <span class="count" id="count1">0</span>
              <button class="plus">
                <svg width="12" height="12" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink">
                  <defs>
                    <path
                      d="M12 7.023V4.977a.641.641 0 0 0-.643-.643h-3.69V.643A.641.641 0 0 0 7.022 0H4.977a.641.641 0 0 0-.643.643v3.69H.643A.641.641 0 0 0 0 4.978v2.046c0 .356.287.643.643.643h3.69v3.691c0 .356.288.643.644.643h2.046a.641.641 0 0 0 .643-.643v-3.69h3.691A.641.641 0 0 0 12 7.022Z"
                      id="b" />
                  </defs>
                  <use fill="#FF7E1B" fill-rule="nonzero" xlink:href="#b" />
                </svg>
              </button>
            </div>
            <div class="login2">
              <form action="/cart/add" method="POST" class="none">
                <input type="text" name="productId" value="<%= product._id %>">
                <input type="number" name="count" min="1" value="1" id="count2">
                <input type="text" name="redirectUrl" value="/product/<%= product._id %>">
                <button type="submit" id="add-product">Add to Cart</button>
              </form>
              <button class="add-to-cart" id="ad-to-cart">
                <span>
                  <svg width="22" height="20" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M20.925 3.641H3.863L3.61.816A.896.896 0 0 0 2.717 0H.897a.896.896 0 1 0 0 1.792h1l1.031 11.483c.073.828.52 1.726 1.291 2.336C2.83 17.385 4.099 20 6.359 20c1.875 0 3.197-1.87 2.554-3.642h4.905c-.642 1.77.677 3.642 2.555 3.642a2.72 2.72 0 0 0 2.717-2.717 2.72 2.72 0 0 0-2.717-2.717H6.365c-.681 0-1.274-.41-1.53-1.009l14.321-.842a.896.896 0 0 0 .817-.677l1.821-7.283a.897.897 0 0 0-.87-1.114ZM6.358 18.208a.926.926 0 0 1 0-1.85.926.926 0 0 1 0 1.85Zm10.015 0a.926.926 0 0 1 0-1.85.926.926 0 0 1 0 1.85Zm2.021-7.243-13.8.81-.57-6.341h15.753l-1.383 5.53Z"
                      fill="#69707D" fill-rule="nonzero" />
                  </svg>
                </span>
                <div>
                  <span>Add to cart</span>
                </div>
            </div>
            </button>
            <% if (!user) { %>
              <div id="login-box2">
                <a href="/auth/google2?redirect=/product/<%= product._id %>">Login with Google</a>
              </div>
              <% } else { %>
                <script>
                  // Wait until the DOM is fully loaded
                  window.addEventListener('DOMContentLoaded', function () {
                    const addBtn = document.getElementById('ad-to-cart');
                    addBtn.addEventListener('click', function () {
                      const count = document.getElementById("count1").innerText;
                      console.log(count);
                      
                      document.getElementById("count2").value = count;
                      document.getElementById('add-product').click();
                    });
                  });
                </script>
              <% } %>
          </div>
        </div>
      </section>
    </div>


    <script>
  const variations = <%- JSON.stringify(product.variations) %>;

  const colorElements = document.querySelectorAll('#color-options .color-swatch');
  const sizeElements = document.querySelectorAll('#size-options .size-btn');

  function updateSku() {
    const selectedColor = document.querySelector('.color-swatch.selected')?.dataset.color;
    const selectedSize = document.querySelector('.size-btn.selected')?.dataset.size;
    const match = variations.find(v => v.color === selectedColor && v.size === selectedSize);

    if (match) {
      document.getElementById('selectedColor').value = selectedColor;
      document.getElementById('selectedSize').value = selectedSize;
      document.getElementById('selectedSku').value = match.sku;
      document.getElementById('sku-display').innerText = match.sku;
    }
  }

  colorElements.forEach(el => {
    el.addEventListener('click', () => {
      colorElements.forEach(c => c.classList.remove('selected'));
      el.classList.add('selected');
      updateSku();
    });
  });

  sizeElements.forEach(el => {
    el.addEventListener('click', () => {
      sizeElements.forEach(s => s.classList.remove('selected'));
      el.classList.add('selected');
      updateSku();
    });
  });
</script>

    <!-- 
        - #SHOP
      -->

    <%- include('partials/bestsellers', { products: products, title: title1 }) %>

      <%- include('partials/recommended', { title: title2, products: products }) %>


        <!-- 
    - #FOOTER
  -->

        <%- include('partials/footer') %>

          <!-- 
    - custom js link
  -->
          <script src="/assets/js/script.js" defer></script>
          <script src="/assets/js/main.js" defer></script>
          <script src="/assets/js/slider.js" defer></script>
          <script src="/assets/js/cart.js" defer></script>
          <script src="/assets/js/userlogin.js" defer></script>


          <!-- 
    - ionicon link
  -->
          <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
          <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>